nav {
  padding: 1.3vw;
  background-color: white;
  text-align: right;
  word-spacing: 2.6vw;
  font-size: 1vw;
  margin-bottom: 0.1vw;
}

form.example {
  input[type=text] {
    padding: 0.2vw;
    font-size: 1vw;
    border: 0.13vw solid #dbd9d9;
    float: left;
    width: 48%;
    background: white;
  }

  button {
    float: left;
    width: 5.5%;
    padding: 0.24vw;
    background: #f1f1f1;
    color: grey;
    font-size: 1vw;
    border: 0.1vw solid #dbd9d9;
    border-left: none;
    cursor: pointer;

    &:hover {
      background: #f1f1f1;
    }
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
  display: inline-block;
}

.img {
  border-radius: 80%;
}

.img1 {
  border-radius: 0%;
  float: left;
}

body {
  background-color: white;
  margin: 0;
  display: block;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */

.column1 {
  float: left;
  padding: 3.2vw;
  width: 4%;
  background-color: white;
  position: relative;
  text-align: center;
  font-size: 0.95vw;
}

.column2 {
  float: right;
  width: 93.2%;
  height: 100%;
  margin-top: -10vw;
  margin-left: 0vw;
  position: absolute;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style-type: none;
  margin: -3vw;
  padding: 0;
  background-color: white;
  height: 100%;
  overflow-anchor: auto;
  position: fixed;
}

li a {
  display: block;
  color: #000;
  padding: 1vw 2vw;
  text-decoration: none;
  margin-top: 1vw;

  &.active {
    background-color: #4CAF50;
    color: white;
  }

  &:hover:not(.active) {
    background-color: tan;
    color: white;
  }
}

.container {
  overflow: hiddens;
}

.filterDiv1 {
  float: left;
  background-color: gray;
  color: #ffffff;
  display: block;

  /* Hidden by default */
  margin-top: initial;
}

.filterDiv {
  float: left;
  background-color: gray;
  color: #ffffff;
  display: none;

  /* Hidden by default */
  margin-top: initial;
}

/* The "show" class is added to the filtered elements */

.show {
  display: block;
}

/* Style the buttons */

.btn {
  margin-bottom: 1vw;
  border-radius: 32vw;
  outline: none;
  margin-left: -0.5vw;
  padding: 0.2vw 1.2vw;
  border: 0.1vw solid #cfcdcd;
  background-color: #f1f1f1;

  &:hover {
    background-color: rgb(233, 235, 235);
  }

  &.active {
    background-color: grey;
    color: black;
  }
}

/* Add a dark background to the active button */

.box {
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  background-color: transparent;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.top {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  float: right;
  top: 13%;
  left: 92%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: right;
}

.top1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  float: right;
  top: 33%;
  left: 92%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: right;
}

.container1 {
  position: relative;
  width: 100%;

  &:hover {
    .image, .middle, .top, .top1 {
      opacity: 1;
    }
  }
}

.text {
  background-color: rgb(22, 22, 22);
  color: white;
  font-size: 1.2vw;
  padding: 2.65vw 8.1vw;
  opacity: 0.6;
}

.text1 {
  background: black;
  font-size: 1.2vw;
}

.text2 {
  background: black;
  font-size: 1.2vw;
  width: 1.6vw;
}

div.scrollmenu {
  background-color: transparent;
  overflow-x: scroll;
  white-space: nowrap;
  word-spacing: 1.5vw;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.div.scrollmenu {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;

  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
}

/* Hide scrollbar for IE, Edge and Firefox */

div.scrollmenu a:hover {
  background-color: #777;
}

.dropdown1 {
  display: inline-block;
}

.dropdown1-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 32vw;
  z-index: 1;
}

.dropdown1-content1 {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 32vw;
  z-index: 1;
  margin-top: 4vw;
}

.dropdown1-content a {
  color: black;
  padding: 1.5vw 4vw;
  word-spacing: 0.02vw;
  text-decoration: none;
  display: block;
}

.dropdown1-content1 a {
  color: black;
  padding-top: 2vw;
  padding: 1vw 2.2vw;
  word-spacing: 0.02vw;
  text-decoration: none;
  display: block;
}

.dropdown1-content a:hover {
  background-color: rgb(220, 247, 233);
}

.dropdown1:hover {
  .dropdown1-content, .dropdown1-content1 {
    display: block;
  }

  .dropbtn1 {
    background-color: #3e8e41;
  }
}

.sidebar {
  height: 80%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0vw;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 4.5vw;

  a {
    padding: 1vw 1vw 1vw 1vw;
    text-decoration: none;
    font-size: 1.2vw;
    color: rgb(97, 96, 96);
    display: block;
    transition: 0.3s;
    margin-left: 1.5vw;

    &:hover {
      background-color: #fcf8f8;
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 1vw;
    font-size: 1vw;
    margin-left: -3vw;
  }
}

.openbtn {
  font-size: 1vw;
  cursor: pointer;
  background-color: rgb(207, 205, 205);
  color: white;
  padding: 0.5vw 1vw;
  border: none;
  margin-top: -5vw;
  border: none;
}

#main {
  transition: margin-left .5s;
  padding: 1vw;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 20vw) {
  .sidebar {
    padding-top: 1vw;

    a {
      font-size: 1.5vw;
    }
  }
}